instances:
  - host: <%= @hostname %>
    port: <%= @port %>
<% if @username -%>
    user: <%= @username %>
    password: <%= @password %>
<% end -%>
    name: tomcat_instance
<% if @java_bin_path -%>
    java_bin_path: <%= @java_bin_path %>
<% end -%>
<% if @trust_store_path -%>
    trust_store_path: <%= @trust_store_path %>
<% end -%>
<% if @trust_store_password -%>
    trust_store_password: <%= @trust_store_password %>
<% end -%>
<% if @tags and ! @tags.empty? -%>
        tags:
  <%- @tags.each do |key, val| -%>
          <%= "#{key}: #{val}" %>
  <%- end -%>
<% end -%>


# List of metrics to be collected by the integration
# Read http://docs.datadoghq.com/integrations/java/ to learn how to customize it
init_config:
  conf:
    - include:
        type: ThreadPool
        attribute:
          maxThreads:
            alias: tomcat.threads.max
            metric_type: gauge
          currentThreadCount:
            alias: tomcat.threads.count
            metric_type: gauge
          currentThreadsBusy:
            alias: tomcat.threads.busy
            metric_type: gauge
# FORCE LINE BREAK on Puppet execution
    - include:
        type: GlobalRequestProcessor
        attribute:
          bytesSent:
            alias: tomcat.bytes_sent
            metric_type: counter
          bytesReceived:
            alias: tomcat.bytes_rcvd
            metric_type: counter
          errorCount:
            alias: tomcat.error_count
            metric_type: counter
          requestCount:
            alias: tomcat.request_count
            metric_type: counter
          maxTime:
            alias: tomcat.max_time
            metric_type: gauge
          processingTime:
            alias: tomcat.processing_time
            metric_type: counter
    - include:
        j2eeType: Servlet
        attribute:
          processingTime:
            alias: tomcat.servlet.processing_time
            metric_type: counter
          errorCount:
            alias: tomcat.servlet.error_count
            metric_type: counter
          requestCount:
            alias: tomcat.servlet.request_count
            metric_type: counter
    - include:
        type: Cache
        attribute:
          accessCount:
            alias: tomcat.cache.access_count
            metric_type: counter
          hitsCounts:
            alias: tomcat.cache.hits_count
            metric_type: counter
    - include:
        type: JspMonitor
        attribute:
          jspCount:
            alias: tomcat.jsp.count
            metric_type: counter
          jspReloadCount:
            alias: tomcat.jsp.reload_count
            metric_type: counter
